<div ng-if="showHeader();">
    <!-- <h2 class="pull-left">Karma Engine</h3>
    <span>Welcome, {{$rootScope.user.username}}
	<button type="button" class="btn btn-default pull-right mlm" ng-click="doLogout();"><span class="icon-off"></span> Logout</button> -->

	  <nav class="navbar navbar-default" role="navigation" ng-controller="headerCtrl">
    <div class="navbar-header">

        <!-- note the ng-init and ng-click here: -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav">
        ...
        </ul>
    </div>
</nav>
  </nav>
	
	<!-- <div class="clearfix"></div> -->
    <alert type="alert.type" ng-if="alert.showMessage" class="mtm mbm animationFade" ><strong>{{alert.msg}}</strong></alert>
</div>
